{% extends "base.html" %}
{% block body %}

<ol class="breadcrumb">
    {% ifequal identity.role ":admin" %}
    <li><a href="/namespaces">All</a></li>
    {% endifequal %}
    {% ifequal identity.role ":editor" %}
    <li><a href="/">All</a></li>
    {% endifequal %}
    <li><a href="/namespaces/{{nsid}}">{{nsid}}</a></li>
    <li class="active">{{id}}</li>
</ol>

<div class="col-sm-4">
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3" for="">id</label>
            <div class="col-sm-9"><input value="{{id}}" class="form-control" disabled></div>
        </div>
        {% for field in fields %}
        <div class="form-group">
            <label class="col-sm-3" for="">{% firstof field.label field.name %}</label>
            <div class="col-sm-9">
                {% ifequal field.type "string" %}
                <input value="{{field.value}}" name="{{ field.name }}" class="form-control" placeholder="">
                {% endifequal %}
                {% ifequal field.type "text" %}
                <textarea name="{{ field.name }}" class="form-control" placeholder="">{{field.value}}</textarea>
                {% endifequal %}
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">Update</button>
    </form>
</div>

{% endblock %}
