<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Install</title>
    </head>
    <body>
        <div id="navbar"></div>
        <div id="app">
            <div class="col-sm-4">
                <form method="post" action="install" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3" for="">Admin Login</label>
                        <div class="col-sm-9"><input name="login" class="form-control" id="" placeholder=""></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="">Password</label>
                        <div class="col-sm-9"><input name="password" class="form-control" id="" placeholder=""></div>
                    </div>
                    <button type="submit" class="btn btn-default">Proceed</button>
                </form>
            </div>
        </div>

        <!-- scripts and styles -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        {% style "/css/screen.css" %}

        <script type="text/javascript">
         var context = "{{servlet-context}}";
        </script>
    </body>
</html>
