{% extends "base.html" %}
{% block body %}

<div class="col-sm-4">
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3" for="">Name</label>
            <div class="col-sm-9">
                <input name="name" class="form-control" placeholder="unique name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3" for="">Schema</label>
            <div class="col-sm-9">
                <textarea name="schema" class="form-control" rows="6" placeholder="yaml"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

{% endblock %}
