{% extends "base.html" %}
{% block body %}

<div class="col-sm-4">
    <form method="post" action="/users" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3" for="">Login</label>
            <div class="col-sm-9"><input name="login" class="form-control" id="" placeholder=""></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3" for="">Password</label>
            <div class="col-sm-9"><input name="password" class="form-control" id="" placeholder=""></div>
        </div>
        <button type="submit" class="btn btn-default">Create</button>
    </form>
</div>

{% endblock %}
